<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div>
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
          <th scope="col">#</th>
          <th scope="col">Count of clicks</th>
          <th scope="col">Remove click</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          Task A
        </th>
        <th>
          <app-task1 (eventTask)="addTask1($event)" [click]="task1"></app-task1>
        </th>
        <th>
          <button type="button" class="btn btn-danger btn-sm" (click)="remove(1)">remove</button>
        </th>
      </tr>
      <tr>
        <th>
          Task B
        </th>
        <th>
          <app-task2 (eventTask)="addTask2($event)" [click]="task2"></app-task2>
        </th>
        <th>
          <button type="button" class="btn btn-danger btn-sm" (click)="remove(2)">remove</button>
        </th>
      </tr>
      <tr class="table-primary">
        <th>
          Sum
        </th>
        <th>
          {{ allClicks }}
        </th>
        <th></th>
      </tr>

    </tbody>
  </table>

  <p>Clicks (colors):</p>
  <p>
    <span *ngFor="let color of colors" class="dot" [ngStyle]="{ 'background-color': color }"></span>
  </p>
</div>


